POSTGRES_USER=itiv
POSTGRES_PASSWORD=itiv
POSTGRES_DB=itiv
POSTGRES_PORT=8085
ITIV_PORTA=8084
DATABASE_URL=postgresql+psycopg://itiv:itiv@localhost:8085/itiv
GOOGLE_SV_KEY=
MODELO_DIR=./dados_modelo
ITIV_DADOS_DIR=./dados_importacao
